* {
    margin: 0;
    padding: 0;
}

.header {
    font-family: 'poppins';
}

.navbar {
    padding: 20px 50px;
    border-bottom: 1px solid #181634;
    background-color: #160323;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    display: flex;
}

.pic {
    /* width:50px;
    height:60px; */
}

h1 {
    padding-left: 5px;
    color: #FFFFFF;

}

span {
    color: #6A3190;
    font-size: 15px;
    padding-left: 30px;

}

.box {
    border: 1.5px solid #862FC0;
    background-color: #862FC080;
    color: white;
    font-weight: bold;
    border-radius: 15px;
    padding-left: 20px;
    padding: 15px;
    width: 647px;
}

.box input[type="text"] {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    width: 80%;
}

.item {
    display: flex;
    justify-content: space-between;

}

h1 {

    font-weight: bold;
    color: #FFFFFF;
    /* padding-top: 10px; */
    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    /* text-align: left; */






}

h2 {
    color: #FFFFFF;
    padding-left: 30px;
    /* padding-top: 10px; */


    font-family: Lexend;
    font-size: 14px;
    font-weight: 300;
    /* line-height: 16.8px; */
    /* text-align: left; */

}

.arrow {
    /* width: 20px;
    height: 20px; */
    padding-top: 5px;
    padding-left: 5px;
}

.button {
    font-family: 'poppins';

}

.btn {
    border: 1px solid #862FC0;
    background-color: #862FC0;
    color: white;
    width: 150px;
    height: 44px;
    border-radius: 10px;
}

/* navbar ednde, next section */
@media(max-width:1245px) {
    .box {
        width: 462px;
    }
}




@media(max-width:1095px) {
    .box label {
        display: none;
    }

    .box {
        width: 262px;
    }
}

@media (max-width: 899px) {
    .box {
        width: 162px;
    }
}

@media (max-width: 787px) {
    .box {
        width: 262px;
    }
}

@media (max-width: 713px) {
    .item {
        margin-top: 20px;
    }

    .button {
        margin-top: 20px;
    }
}

@media (max-width: 584px) {
    .box {
        margin-top: 20px;
        width: 100%;
    }
}